# biden.config
# -*- mode: python -*-
#
# This file contains the initial questions as well as the starting state
# for the generator for that question.

(
    {'question': "How will you fix the economy?",
     'state':
     (
	    (None, 'Our', 'economy'),
	    (None, 'The', 'economy'),
     )
    },

    {'question': "What is the role of the US in Iraq and Afghanistan?",
     'state':
     (
	    (None, None, 'Iraq'),
	    (None, None, 'Afghanistan'),
     ),
    },

    {'question': "Why should the US elect Senator Obama?",
     'state':
     (
	    (None, 'Barak', 'Obama'),
	    (None, None, 'Obama'),
     ),
    },
)
